.vs/MyGame/v15/ipch/AutoPCH/d3d48fe6607180c1/MYGAMEGAMEMODEBASE.ipch
.vs/MyGame/v15/ipch/AutoPCH/c6aee26e65ddbde9/CK2PAWN.ipch
.vs/MyGame/v15/ipch/AutoPCH/c50e693147054b12/MYGAMEGAMEMODEBASE.ipch
.vs/MyGame/v15/ipch/AutoPCH/b687dc924f606f2a/MYGAME.ipch
.vs/MyGame/v15/ipch/AutoPCH/2142c28eb2a03529/MYGAME.ipch
.vs/MyGame/v15/ipch/AutoPCH/1d8b3d44846cea8f/GAMECONFIG.ipch
.vs/MyGame/v15/Solution.VC.db-wal
.vs/MyGame/v15/Solution.VC.db-shm
.vs/MyGame/v15/Solution.VC.db
.vs/MyGame/v15/Browse.VC.opendb
.vs/MyGame/v15/Browse.VC.db
.vs/MyGame/v15/.suo
Binaries/Win64/UE4Editor-MyGame-9489.pdb
Binaries/Win64/UE4Editor-MyGame-9489.dll
Binaries/Win64/UE4Editor-MyGame-8396.pdb
Binaries/Win64/UE4Editor-MyGame-8396.dll
Binaries/Win64/UE4Editor-MyGame.pdb
Binaries/Win64/UE4Editor-MyGame.dll
Binaries/Win64/UE4Editor.modules
Binaries/Win64/MyGameEditor.target
Intermediate/ReimportCache/3688439234.bin
Intermediate/ProjectFiles/UE4.vcxproj.user
Intermediate/ProjectFiles/UE4.vcxproj.filters
Intermediate/ProjectFiles/UE4.vcxproj
Intermediate/ProjectFiles/MyGame.vcxproj.user
Intermediate/ProjectFiles/MyGame.vcxproj.filters
Intermediate/ProjectFiles/MyGame.vcxproj
Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Build/Win64/Win64/MyGameEditor/ActionHistory.dat
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/Timestamp
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/MyGameGameModeBase.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/MyGameGameModeBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/MyGameClasses.h
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/MyGame.init.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/Ck2Pawn.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/MyGame/Ck2Pawn.gen.cpp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-9489.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame-8396.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.lib.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.lib
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.exp
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.dll.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/UE4Editor-MyGame.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.gen.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGameGameModeBase.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.init.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.init.gen.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.init.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/MyGame.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/LiveCodingInfo.json
Intermediate/Build/Win64/UE4Editor/Development/MyGame/GameConfig.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/GameConfig.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/GameConfig.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/GameConfig.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Definitions.MyGame.h.old
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Definitions.MyGame.h
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Default.rc2.res
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyGame/Ck2Pawn.cpp.obj
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch.response
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.obj
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Intermediate/Build/Win64/MyGameEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
Intermediate/Build/Win64/MyGameEditor/Development/MyGameEditor.uhtpath
Intermediate/Build/Win64/MyGameEditor/Development/MyGameEditor.uhtmanifest
Intermediate/Build/Win64/MyGameEditor/Development/MyGameEditor.deps
Intermediate/Build/Win64/MyGameEditor/Development/Metadata-HotReload.dat
Intermediate/Build/Win64/MyGameEditor/Development/Metadata.dat
Intermediate/Build/Win64/MyGameEditor/Development/Makefile.bin
Intermediate/Build/Win64/MyGameEditor/Development/HotReload.state
Intermediate/Build/Win64/MyGameEditor/Development/DependencyCache.bin
Intermediate/Build/BuildRules/MyGameModuleRulesManifest.json
Intermediate/Build/BuildRules/MyGameModuleRules.pdb
Intermediate/Build/BuildRules/MyGameModuleRules.dll
Intermediate/Build/SourceFileCache.bin
Intermediate/AssetRegistryCache/f0d5030c.bin
Intermediate/AssetRegistryCache/d63b3057.bin
Intermediate/AssetRegistryCache/8e9331e2.bin
Intermediate/AssetRegistryCache/8c0e1344.bin
Intermediate/AssetRegistryCache/866581fd.bin
Intermediate/AssetRegistryCache/6bead350.bin
Intermediate/AssetRegistryCache/52ed2538.bin
Intermediate/AssetRegistryCache/50a675f9.bin
Intermediate/AssetRegistryCache/2657c409.bin
Intermediate/AssetRegistryCache/1f683343.bin
Intermediate/TargetInfo.json
Intermediate/CachedAssetRegistry.bin
Saved/Logs/MyGame.log
Saved/Config/WorldState/2825471154.json
Saved/Config/WorldState/112858600.json
Saved/Config/Windows/VariantManagerContent.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/RuntimeOptions.ini
Saved/Config/Windows/PostSplashScreen.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Compat.ini
Saved/Config/CrashReportClient/UE4CC-Windows-30B29AE3496649E05734AAB5C83C5116/CrashReportClient.ini
Saved/Backup/Ck2MapConfigs_2020-04-19-20-53-57.uasset
Saved/Autosaves/Temp/Untitled_1_Auto1.umap
Saved/Autosaves/Game/Music/turexgloriae_Auto2.uasset
Saved/Autosaves/Game/Music/thelastcrusade_finale_Auto2.uasset
Saved/Autosaves/Game/Music/theholysepulchre_Auto2.uasset
Saved/Autosaves/Game/Music/thefranks_Auto2.uasset
Saved/Autosaves/Game/Music/thefirstcrusade_Auto2.uasset
Saved/Autosaves/Game/Music/tedonimum_Auto2.uasset
Saved/Autosaves/Game/Music/siegeofkerak_Auto2.uasset
Saved/Autosaves/Game/Music/sanctus_Auto2.uasset
Saved/Autosaves/Game/Music/saladinbesiegejerusalem_Auto2.uasset
Saved/Autosaves/Game/Music/royalmarriage_Auto2.uasset
Saved/Autosaves/Game/Music/pilgrimage_Auto2.uasset
Saved/Autosaves/Game/Music/pathtoglory_Auto2.uasset
Saved/Autosaves/Game/Music/orderofthetemple_Auto2.uasset
Saved/Autosaves/Game/Music/marchtoholyland_Auto2.uasset
Saved/Autosaves/Game/Music/krakdeschevaliers_Auto2.uasset
Saved/Autosaves/Game/Music/kingdomofjerusalem_Auto2.uasset
Saved/Autosaves/Game/Music/journeytoabsolution_Auto2.uasset
Saved/Autosaves/Game/Music/intaberna_Auto2.uasset
Saved/Autosaves/Game/Music/hornsofhattinandaftermath_Auto2.uasset
Saved/Autosaves/Game/Music/guyderosesquandary_Auto2.uasset
Saved/Autosaves/Game/Music/crusaders_Auto2.uasset
Saved/Autosaves/Game/Music/crusaderkings2_maintitle_Auto2.uasset
Saved/Autosaves/Game/Music/coeurdelion_Auto2.uasset
Saved/Autosaves/Game/Music/asimplesongforcommoners_Auto2.uasset
Saved/Autosaves/Game/Music/akingisdead_Auto2.uasset
Saved/Autosaves/PackageRestoreData.json
/.vs/
/Saved/
/Binaries/
/Intermediate/
